.attribution { 
  position: absolute; 
  bottom: 0; 
  font-size: 11px; 
  text-align: center; 
  background: white;
  margin: 0;
}
.attribution a { color: hsl(228, 45%, 44%); }

html, body, h1, h2, p {
  margin: 0;
}
html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(210, 46%, 95%);
  font-family: 'Manrope', sans-serif;
}

.container {
  display: flex;
}

.main-img {
  width: 330px;
  object-fit: cover;
  object-position: 17px 0; 

}

section {
  width: 375px;
  background: white;
  padding: 35px 50px;
}

h1, h2 {
  color: hsl(217, 19%, 35%);
}
h1 {
  font-size: 22px;
}

h2, p {
  font-size: 13px;
}

p {
  font-weight: 500;
  margin: 15px 0 20px 0;
  line-height: 1.6;
  color: hsl(214, 17%, 51%);
}

/* footer */ 
footer {
  display: flex;
  align-items: center;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.footer-text p {
  margin: 0;
  color: hsl(212, 23%, 69%);
}

.share-button-bg {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: hsl(210, 46%, 95%); 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.share-button-bg:hover {
  cursor: pointer;
}

.share-popup {
  display: none;  
  position: absolute;
  z-index: 1;
  background: hsl(217, 19%, 35%);
  width: 220px;
  height: 55px;
  margin-left: 228px; 
  margin-top: -128px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  padding: 0 15px 0 20px; 
}

/* triangle */
.share-popup:after {
  content: '';
  position: absolute;
  top: 100%;
  clear: both;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid hsl(217, 19%, 35%);

}

.share-popup p {
  text-transform: uppercase;
  letter-spacing: 6px;
  color: hsl(212, 23%, 69%);
  margin: 0;
}

.share-popup img {
  height: 20px;
}

/* MOBILE */ 
@media only screen and (max-width: 480px) {
  body {
    align-items: flex-start;
    margin-top: 64.5px;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }

  .main-img {
    width: 345px;
    margin-left: -17px; /* to offset object position 17px */ 
    object-position: 17px -16px;
    height: 213px;
  }

  section {
    width: 258px;
    padding: 35px;
  }

  h1 {
    font-size: 16px;
  }
}
